{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recaptcha Django Project</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
</head>
<body>
        <!-- Video Background -->
		<video class="video-background" id="video-background" loop muted autoplay>
        <source src="../static/Palm_Tree.mp4"> </source>

		</video>


    <form method="POST">
        {% csrf_token %}
        {{ form.name }}
        {{ form.email }}
        {{ form.captcha }}
        {% for error in form.captcha.errors %}
        <p>{{ error }}</p>
        {% endfor %}
        <button>Submit</button>
    </form>
</body>
</html>